{% extends "layout.html" %}
{% block content %} 
<div>
    <img src="{{ url_for('video') }}" width="50%"/>
    <form method="post" action="{{ url_for('Register') }}">
    <br>
    <!-- </form> -->
      <label for="name" class="form-label">Name</label>
      <input id='name' type="text"  name="VName">
      <br>
      <label for="number" class="form-label">PhNo.</label>
      <input id='number' type="text"  name="number">
      <br>
      <label for="address" class="form-label">Address</label>
      <input id='address' type="text"  name="address">
      <br>
      <input type="submit" value="register" name="register"/>
    </form>
</div>
{% endblock %}