{% extends "layout.html" %}
{% block content %} 
<h2>Register Here </h2>
<div class="gunnu">
  <div class="gunnu_c1">
    <img src="{{ url_for('video') }}" width="50%"/>
  </div>

    <div class="gunnu_c2">

      <form method="post" action="{{ url_for('Register') }}">

        <label for="name" class="form-label">Name</label>
      <input id='name' type="text"  name="VName">
      <br>
        <input type="submit" value="register"  name="register"/>

      </form>

    </div>
   
</div>
{% endblock %}